%footer.branding
  %p
    Powered by Nesta, a
    = succeed "." do
      %a(href="http://nestacms.com") Ruby CMS
%footer
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
  %script{:src => '/bootstrap/bootstrap.min.js', :async => true, :type => 'text/javascript'}

